$color_text: #3E3E3E;
$white: #FFFFFF;
$black: #000000;
$card-shadow: rgba(0, 0, 0, 0.06);
$green: #259609;
$card-back-shadow: rgba(0, 0, 0, 0.2);
$card-btn: rgba(255, 255, 255, 0.25);
$sidebar-filter: rgba(0, 0, 0, 0.25);
$menu-item-hover: #F2F2F2;
$active-menu-item: #dfefdb;
$line: #ECECEC;
$scrollbar-hover: #196b02;
$card-active: #f7f7f7;
$sidebar-mob: #F1F1F1;